[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tensorflow = "*"
gym = "*"
gym-anytrading = "*"
stable-baselines3 = {extras = ["extra"], version = "*"}
pygame = "*"
gym-mtsim = "*"
plotly = "*"
metatrader5 = "*"
pytz = "*"
tqdm = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
